body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*
.column {
    float: left;
    width: 45%;
    padding: 10px;
    margin-right: 10px;
    margin-left: 30px;
    display: inline-block;
}

.row{
  margin: 0 auto;
  width: 1400px;
}
#plainMessage{
  width: 600px;
}
#encryptedMessage{
  width: 600px;
}
*/
