body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body.loaded {
  opacity: 1;
}

main {
  flex: 1 0 auto;
}

.valign-loading {
  margin-top: 40%;
}

.valign-setup {
  margin-top: 20%;
}

.confirm-button {
  margin-top: 3em;
}
